mnist_classifier/data
.conda
.DS_Store
__pycache__
docs/
data/
# checkpoints/
*.png
.vscode/
wandb/
.pth
.pt
src/creative_vae/checkpoints
src/diffusion/checkpoints/ddpm_class
digit4.code-workspace
src/diffusion/v2_score/DeepCreativityScore.ipynb
evaluation_presentation/compare_methods.ipynb
.claude/